
<div class="contain mt-5 p-5">
    <form  [formGroup]="searchForm" (ngSubmit)="sendForm()">
        <div class="row">
            <div class="mb-3 col-lg-8">
                <input type="text" class="form-control"  formControlName="movieName" placeholder="Serch For Movie ^_^...">
              </div>
              <div class="col-lg-4 ">
                <button class="btn btn-md">Search</button>
              </div>
        </div>

    </form>


    <div class="row mt-5">
      <div class="col-lg-4" *ngFor="let a of searchResult">
              <div class="row">
                  <div class="col-lg-3 mt-4 mb-4" *ngIf="a.poster_path">
                          <img
                          src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}" 
                          [routerLink]="['/movie',a.id]"    
                          >
                  </div>
                  <div class="col-lg-9 mt-4 mb-4">
                          <h5>{{a.original_title}}</h5>
                  </div>
              </div>
      </div>
</div>

</div>